@import "src/utilities/variable";

.searchBar {
  border: 2px solid $darkBlue;
  border-top: 0;
  width: 50%;
  padding: 15px;
  background-color: $seaBlue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  display: flex;

  @media (max-width: 500px) {
    width: auto;
  }
}

.searchInput {
  flex: 1;
  height: 25px;

  @media (max-width: 500px) {
    width: auto;
  }
}
